.container {
  display: flex;
  justify-content: space-between;
}

.item__card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 699px) {
  .container {
    display: block;
  }
}
