.headerBar {
  background-color: #e4534e;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.headerLogo {
  cursor: pointer;
  min-width: 48px;
  min-height: 48px;
}

.headerSpacer {
  margin-top: 80px;
}

.inputHidden {
  display: none;
}

.inputShown {
  display: initial;
}
