html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.SEO-safe-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.row {
  display: flex;
  justify-content: space-between;
}

.col + .col {
  margin-left: 0.5em;
}

@media (max-width: 699px) {
  .row {
    display: block;
  }
}
